.dark_theme {
    --tree-editor-bg-color: #000f24;
    --tree-editor-text-color: #fff;
}

.light_theme {
    --tree-editor-bg-color: #dbeaff;
    --tree-editor-text-color: #000;
}

.treeEditorOuterContainer {
    display: contents;
}

.treeEditorOuterContainer * {
    font-family: Consolas;
}

.treeEditorOuterContainer > .treeEditorTreeNode {
    background-image: var(--alternating-bg-image);
    min-width: fit-content;
}

.treeEditorTreeNode {
    display: flex;
    flex-direction: column;
}

.treeEditorTreeNodeHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.treeEditorTreeNodeHeader:hover:not(:has(input:hover)):not(:has(.treeEditorTreeNodeHeaderName:not(.readonlyTreeEditorTreeNodeHeaderName):hover)):not(
        :has(.treeEditorTreeNodeHeaderValue:not(.readonlyTreeEditorTreeNodeHeaderValue):hover)
    ):not(:has(.treeEditorTreeNodeHeaderNameTextBox.visible)):not(:has(.treeEditorTreeNodeHeaderValueTextBox.visible)),
.treeEditorOuterContainer.treeEditorReadonly .treeEditorTreeNodeHeader {
    background-color: var(--alternating-bg-hover-color);
}

.treeEditorTreeNodeHeader.selected:hover:not(:has(input:hover)):not(:has(.treeEditorTreeNodeHeaderName:not(.readonlyTreeEditorTreeNodeHeaderName):hover)):not(
        :has(.treeEditorTreeNodeHeaderValue:not(.readonlyTreeEditorTreeNodeHeaderValue):hover)
    ):not(:has(.treeEditorTreeNodeHeaderNameTextBox.visible)):not(:has(.treeEditorTreeNodeHeaderValueTextBox.visible)),
.treeEditorOuterContainer.treeEditorReadonly .treeEditorTreeNodeHeader.selected {
    background-color: var(--alternating-bg-selected-hover-color);
}

.treeEditorTreeNodeHeader.selected {
    background-color: var(--alternating-bg-selected-color);
}

.treeEditorTreeNodeHeaderExpanderIcon,
.treeEditorTreeNodeHeaderExpander {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.treeEditorTreeNodeHeaderIcon {
    width: 16px;
    height: 32px;
    image-rendering: pixelated;
}

.treeEditorTreeNodeHeaderExpanderIcon {
    cursor: pointer;
}

.treeEditorTreeNodeHeaderIcon > img {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin: 8px 0;
}

.treeEditorTreeNodeHeaderExpanderIcon > img {
    width: 10px;
    height: 10px;
    image-rendering: pixelated;
    margin: 11px;
}

.treeEditorTreeNodeHeaderIcon {
    margin-right: 8px;
}

.treeEditorTreeNodeHeaderName,
.treeEditorTreeNodeHeaderNameTextBoxSizeGetter,
.treeEditorTreeNodeHeaderNameAndValueSeparator,
.treeEditorTreeNodeHeaderValue,
.treeEditorTreeNodeHeaderValueTextBoxSizeGetter,
.treeEditorTreeNodeHeaderEntryCount {
    white-space: pre;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    -moz-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-user-drag: none;
}

.treeEditorOuterContainer:not(.treeEditorReadonly) .treeEditorTreeNodeHeaderName:hover:not(.readonlyTreeEditorTreeNodeHeaderName),
.treeEditorOuterContainer:not(.treeEditorReadonly) .treeEditorTreeNodeHeaderValue:hover:not(.readonlyTreeEditorTreeNodeHeaderValue) {
    background-color: #8882;
}

.treeEditorOuterContainer:not(.treeEditorReadonly)
    .treeEditorTreeNodeHeader.selected
    .treeEditorTreeNodeHeaderName:hover:not(.readonlyTreeEditorTreeNodeHeaderName),
.treeEditorOuterContainer:not(.treeEditorReadonly)
    .treeEditorTreeNodeHeader.selected
    .treeEditorTreeNodeHeaderValue:hover:not(.readonlyTreeEditorTreeNodeHeaderValue) {
    background-color: #fff2;
}

.treeEditorTreeNodeHeaderNameTextBoxSizeGetter,
.treeEditorTreeNodeHeaderValueTextBoxSizeGetter {
    display: none;
}

.treeEditorTreeNodeHeaderNameTextBox.visible ~ .treeEditorTreeNodeHeaderNameAndValueSeparator {
    opacity: 0;
}

.treeEditorTreeNodeHeaderName:has(+ .treeEditorTreeNodeHeaderNameTextBox.visible),
.treeEditorTreeNodeHeaderValue:has(+ .treeEditorTreeNodeHeaderValueTextBox.visible) {
    display: none;
}

.treeEditorTreeNodeHeaderNameTextBox:not(.visible),
.treeEditorTreeNodeHeaderValueTextBox:not(.visible) {
    display: none;
}

.treeEditorTreeNodeHeaderNameTextBox,
.treeEditorTreeNodeHeaderValueTextBox {
    margin: 0 -3px;
    border: 1px solid #0ff;
    background-color: var(--tree-editor-bg-color);
    color: var(--tree-editor-text-color);
    font: inherit;
    outline: none;
    line-height: 20px;
}

.treeEditorTreeNodeHeader {
    min-width: fit-content;
}

.treeEditorTreeNodeHeaderName,
.treeEditorTreeNodeHeaderValue {
    min-width: 10px;
    height: 16px;
}

@keyframes flash-tree-editor-text-box-warning-outline-v1 {
    0% {
        outline: 2px solid transparent;
    }
    50% {
        outline: 2px solid #ff0;
    }
    100% {
        outline: 2px solid transparent;
    }
}

.treeEditorTextBoxWarning {
    animation: flash-tree-editor-text-box-warning-outline-v1 0.2s linear 2;
}

@keyframes flash-tree-editor-text-box-duplicate-property-name-outline-v1 {
    0%,
    50%,
    100% {
        outline: 2px solid transparent;
    }
    25% {
        outline: 2px solid #f00;
    }
    75% {
        outline: 2px solid #f0f;
    }
}

.treeEditorTextBoxError_duplicatePropertyName {
    animation: flash-tree-editor-text-box-duplicate-property-name-outline-v1 0.4s linear;
}

@keyframes flash-tree-editor-text-box-error-outline-v1 {
    0% {
        outline: 2px solid transparent;
    }
    50% {
        outline: 2px solid #f00;
    }
    100% {
        outline: 2px solid transparent;
    }
}

@keyframes flash-tree-editor-text-box-error-outline-v2 {
    0% {
        outline: 0px solid #f00;
    }
    15% {
        outline: 0px solid #f00;
    }
    35% {
        outline: 2px solid #f00;
    }
    65% {
        outline: 2px solid #f00;
    }
    85% {
        outline: 0px solid #f00;
    }
    100% {
        outline: 0px solid #f00;
    }
}

.treeEditorTextBoxError {
    /* animation: flash-tree-editor-text-box-error-outline-v1 0.8s linear infinite; */
    /* animation: flash-tree-editor-text-box-error-outline-v1 0.4s linear infinite; */
    animation: flash-tree-editor-text-box-error-outline-v1 0.2s linear 2;
}

@keyframes flash-tree-editor-text-box-critical-internal-error-outline-v1 {
    0% {
        outline: 2px solid transparent;
    }
    15% {
        outline: 2px solid transparent;
    }
    25% {
        outline: 2px solid #f00;
    }
    45% {
        outline: 2px solid #ff0;
    }
    55% {
        outline: 2px solid #ff0;
    }
    75% {
        outline: 2px solid #f00;
    }
    85% {
        outline: 2px solid transparent;
    }
    100% {
        outline: 2px solid transparent;
    }
}

.treeEditorTextBoxCriticalInternalError {
    animation: flash-tree-editor-text-box-critical-internal-error-outline-v1 0.4s linear 8;
}
